<!DOCTYPE html>
<html>
  <%- include('./utils/header'); -%>
  <body>
    <%- include('./utils/navigationUser'); -%>
    <div class="centered-form">
      <div class="container text-center">
        <h1 class="display-2">Upload Picture to Scan</h1>
        <form
          method="POST"
          action="/user/scan/add"
          enctype="multipart/form-data"
        >
          <div class="form-group my-3">
            <label for="picture">Picture</label>
            <input
              name="image"
              type="file"
              accept="image/,.png,.jpg,.jpeg"
              class="form-control-file"
              id="image"
            />
          </div>
          <button type="submit" style="width: 70%" class="btn btn-primary">
            Upload
          </button>
        </form>
        <a href="/user/scan/add"
          ><p class="my-3">Already submit some trashes? Click Here!</p></a
        >
      </div>
    </div>
  </body>
</html>
