<nav
  class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light text-center"
>
  <div class="container-fluid">
    <a class="fs-1 p-3" href="/user/home"
      ><i class="fa-solid fa-recycle mr-3"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item p-2">
          <a class="nav-link fs-2" aria-current="page" href="/user/scan"
            >Scan</a
          >
        </li>
        <li class="nav-item p-2">
          <a class="nav-link fs-2" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item p-2">
          <a
            class="nav-link text-danger fs-2"
            href="/user/logout"
            aria-disabled="true"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
